<div class="container">
  <a href="{{url}}">{{title}}</a>
  {{#if saved}}
      <button {{action 'remove'}}>Remove Saved Article</button>
  {{else}}
      <button {{action 'save'}}>Save Article</button>
  {{/if}}
</div>
